<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="background">
    <div class="control">
      <label>iteration</label>
      <input type="range" id="iteration" name="iteration" min="1" max="100" value="50"><br>
    </div>
  </body>
</html>
